# Gradle
.gradle/
gradle/
gradlew
gradlew.bat
local.properties

# Build
build/
app/build/
*/build/
*/*/build/

# Cache
.cache/
*.cache
*.pack
frontend/node_modules/.cache/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Android
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS
.DS_Store
Thumbs.db
