<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="MyZubster"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyZubster">
        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SkillDetailActivity" />
        <activity android:name=".ui.skills.CreateSkillActivity" />
    </application>
</manifest>
